:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --fs: 16px;
}

@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  background: var(--stone-100);
  color: var(--stone-600);
  display: flex;
}

.block {
  width: 750px;
  background: var(--white);
  padding: 38px;
  margin: auto;
  border-radius: 24px;
}

@media (max-width: 768px) {
  .block {
    width: 95%;
    padding: 24px;
  }
}

.recipe-image {
  width: 100%;
  border-radius: 14px;
}

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 400;
  margin: 20px 0;
}

h1 {
  font-size: 40px;
  color: var(--stone-900);
}

h2 {
  color: var(--brown-800);
}

.time-title {
  margin-bottom: 12px;
}

ul,
ol {
  margin-left: 24px;
  color: var(--stone-600);
}

ul li::marker,
ol li::marker {
  color: var(--brown-800);
}

li {
  margin-bottom: 12px;
}

li:last-child {
  margin-bottom: 0;
}

.time-block {
  background-color: var(--rose-50);
  padding: 24px;
  margin-top: 24px;
  border-radius: 10px;
}

.time-block .time-title {
  color: var(--rose-800);
}

.time-block li::marker {
  color: var(--rose-800);
  margin-right: 12px;
}

tr {
  border-bottom: 1px solid black;
}

tr:last-child {
  border-bottom: none;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px 12px 12px 24px;
  text-align: left;
  border-bottom: 1px solid var(--stone-150);
}

.table-data {
  color: var(--brown-800);
  font-weight: 700;
}

.content-block {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 24px;
}
